<section class="filter d-flex">
    <div class="sort-block d-flex">
        <div class="app-name d-flex">
            <h3>{{ appName }}</h3>
        </div>
    </div>

    <div class="sort-by repo-name d-flex">
        <span><i class="repo-icon"></i></span>
        <ng-select
          [(ngModel)]="repoValue"
          [items]="repoOptions$ | async"
          [clearable]="false"
          bindLabel="label"
          bindValue="value"
          [searchable]="false"
          (change)="repoSelected($event)"
        ></ng-select>
    </div>

    <div class="sort-by d-flex">
        <span>Sort by :</span>
        <ng-select
          [(ngModel)]="sortBySelect"
          [items]="sortOptions$ | async"
          [clearable]="false"
          bindLabel="label"
          bindValue="value"
          [searchable]="false"
          (change)="sortBySelected($event)"
        ></ng-select>
    </div>
</section>