$primary: #985EFF;
$primaryLight: #c7bfc6;
$primaryDark: #322444;

$appName: #ffeafe;

$primaryHover: #4661E6;

$primaryTitle: #985EFF;

$buttonFeedback: #AD1FEA;
$buttonFeedbackHover: #C75AF6;
$buttonToggle: #2c283a;
$buttonQA: #59ab5d;
$buttonStage: #5e72a0;
$buttonProd: #857bb8;


$linkHover: #8397F8;

$cardBackground: #232234;

$grey: #F2F4FE;
$greyLight: #F2F4FF;
$btnUpvoteActive: #4661E6;
$btnUpvoteHover: #CFD7FF;

$planned: #F49F85;
$inProgress: #AD1FEA;
$live: #62BCFA;

$successLight: #7ade7f;
$successDark: #119718;
$failureLight: #f2b394;
$failureDark: #d15027;
$successHover: #27ef31;
$failureHover: #f2824b;