<div class="status">
    <button class="kr-status" [ngClass]="getButtonClass()">
      <div class="core">
        <i class="right-icon" *ngIf="kr?.status; else failed"></i>
      <ng-template #failed>
        <i class="cross-icon"></i>
      </ng-template>
      </div>
      
    </button>
  </div>
  <div class="center">
    <h3 class="title">
      <a>{{ kr?.krCardNumber }}</a>
    </h3>
    <h5 class="description">
      {{ kr?.title }}
    </h5>
    <p class="state">
      <button class="btn btn-state" [ngClass]="getClass()">
        {{ kr?.state }}
      </button>
    </p>
    <button class="date btn btn-state">
        {{ kr?.date }}
    </button>

  </div>
  <span class="comments-count">
    <span class="comment-icon"></span>
    <strong class="count">{{ kr?.comments?.length }}</strong>
  </span>