@import "/src/app/styles/variables";
@import "/src/app/styles/buttons";

.center {
    display: grid;
    padding: 0 20px;
    align-items: center;
    grid-template-columns: [first] 104px [main] auto [last] 110px;
    &:hover {
        .title a {
          color: $buttonFeedback;
          cursor: pointer;
        }
    }
    .title a {
      font-weight: 600;
    }
    .description {
      width: 100px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: $primaryLight;
    }
}