@import "/src/app/styles/variables";

.kr-page {
  padding: 20px 0;
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.sidebar {
    flex: 0 0 255px;
    margin-right: 30px;
    padding: 20px 0 20px 20px;
  }
  
  .main-column {
    flex: 1 1 auto;
    // margin-right: 30px;
    border-right: 5px solid;
    padding-right: 30px;
    border-image: linear-gradient(to bottom, $primary, $primaryLight) 0 1;;
  }
  
.right-panel {
  width: 500px;
  
  &.show {
    animation: slideIn .5s forwards;
  }
  &.hide {
    animation: slideOut .5s linear;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(300px);
    opacity: 0;
  }
}

.loader {
	width: 100vw;
	height: 100vh;
	background: url('../../styles/yy3.gif') no-repeat center;
	z-index: 999;
}