<div class="container">
    <div class="close-icon" (click)="clearCard()">
        <i class="icon"></i>
    </div>

    <div class="left">
        <h3 class="title card-id">
            <a>{{ selectedKR?.card?.krCardNumber }}</a>
        </h3>
        <p class="title">
            {{ selectedKR?.card?.title }}
        </p>
    </div>
    <div class="d-flex right">
        <p class="state">
            <button class="btn btn-state" [ngClass]="getClass()">
                {{ selectedKR?.card?.state }}
            </button>
        </p>
        <p class="date">
            <button class="btn btn-state">
                {{ selectedKR?.card?.date }}
            </button>
        </p>
    </div>
    <div class="description-container">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Description
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="description">
                    {{ selectedKR?.description }}
                </p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="linked-list">
        <ul class="list">
            <li class="kr" *ngFor="let card of selectedKR?.linkedKrCards">
                <app-linked-card class="linked-card" [card]="card"></app-linked-card>
            </li>
        </ul>
    </div>
</div>